body {
  color: #000;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand,
.nav-link {
  color: #fff;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-link {
  padding-right: 15px;
}

.navbar-nav .nav-item.dropdown {
  text-align:left;
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
  text-align:left;
}

.icon{
  width: 80px;
  height: 80px;
}

.posts {
  .post {
    .date {
      font-size: 0.6em;
      color: #999999;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
    .body {
      font-size: 0.8em;
    }
    .image {
      img {
    width: 250px;
      }
    }
  }
}

.navbar-nav .nav-item:hover {
  background-color: #343a40;
}

.navbar-nav .nav-item.active .nav-link {
  color: #007bff;
  background-color: #fff;
}

.navbar-nav .nav-item.active:hover {
  background-color: #fff;
}