body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

.icon {
  width: 80px;
  height: 80px;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand,
.nav-link {
  color: #fff;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav.ml-auto .nav-item.dropdown {
  text-align: left;
}

.navbar-nav.ml-auto .nav-item.dropdown .dropdown-menu {
  text-align: left;
  left: auto;
  right: 0;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.form-group {
  margin-bottom: 1rem;
}

.list-group-item {
  color: #fff;
  border-color: #fff;
  background-color: #000;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 800px;
}

.image-container img {
  max-width: 100%;
  max-height: auto;
}

.post-body {
  max-width: 800px;
  margin: 0 auto;
}

.edit-profile-button {
  margin-top: 20px;
}

.navbar-nav .nav-item:hover {
  background-color: #343a40;
}

.navbar-nav .nav-item.active .nav-link {
  color: #007bff;
  background-color: #fff;
}

.navbar-nav .nav-item.active:hover {
  background-color: #fff;
}
